@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
  --bs-border-color: #F4F4F4;
}

body {
  font-family: 'Pretendard';
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  transition: background-color 1s ease-in-out;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #AED7EB;
}

.blue {
  color: #AED7EB;
}

.color-white {
  background: #fff;
}

.color-blue {
  background: #AED7EB;
}

.left {
  text-align: left;
}

.margin-b {
  margin-bottom: 100px;
}

.background-blue {
  background-color: #AED7EB;
  color: #000;
}

/* Headings ********************************************************************** */

h1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  font-size: 55px;
  font-weight: 600;
}

h3 {
  font-size: 45px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 13px;
  font-weight: 600;
}

.section-heading {
  margin-bottom: 50px;
}

/* Containers ******************************************************************** */

.container-fluid{
  padding: 9% 17%;
}

/* navbar *********************************************************************************/
.navbar {
  background: transparent;
  padding: 50px 10%;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

nav img {
  width: 189px;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

nav li {
  margin-left: 30px;
  font-size: 20px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #AED7EB;
}

/* title **********************************************************************************/

#title {
  background-image: url("../images/title-background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

#title::after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(174, 215, 235,0) 0%, 
                    rgba(174, 215, 235,1) 90%);
  width    : 100%;
  height   : 40%;
}

#title .container-fluid {
  padding-top: 20%;
  padding-bottom: 0;
}

.arrow {
  width: 45px;
  height: auto;
  animation: down 1s infinite;
  animation: flickerAnimation 1s infinite;
	-webkit-animation: down 1s infinite;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
}

.scroll {
  padding: 172px 0;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

/* intro **********************************************************************************/

#intro p {
  font-size: 35px;
}

.values {
  display: flex;
  justify-content: center;
}

.values p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000;
  width: 15vw;
  height: 15vw;
  margin: 0 3%;
}

/* messenger ******************************************************************************/

#messenger p{
  font-size: 25px;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0 100px;
}

#messenger img {
  width: 15vw;
  height: 15vw;
  border-radius: 25px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  color: #000;
  height: 72px;
  width: 182px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.register:hover {
  background-color: #AED7EB;
  color: #fff;
  border: 1px solid #fff;
}

/* lecture ********************************************************************************/
.lectures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-lec {
  background-image: url("../images/lecture1.jpg");
  background-repeat: no-repeat;
  background-size: 140% auto;
  background-position: 0% 37%;
  padding: 9% 5% 0;
  position: relative;
  color: #fff;
  width: 100%;
  height: 20vw;
  border-radius: 20px;
  margin-bottom: 50px;
}

.main-lec a {
  position: absolute;
  bottom: 12%;
  text-decoration : underline;
}

.sub-lec {
  margin-bottom: 50px;
}

.sub-lec p{
  font-weight: 600;
  font-size: 15px;
}

.thumnail {
  background-color: #D9D9D9;
  height: 11.25vw;
  width: 20vw;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.sub-lec img {
  height: auto;
  width: 100%;
}

.sub-lec h6 {
  margin-bottom: 0;
}

/* News ***********************************************************************************/

#news .container-fluid {
  padding-top: 0;
}

#news h3 {
  padding-bottom: 25px;
}

.publisher {
  display: flex;
  padding-top: 25px;
  font-weight: 600;
}

.publisher > p {
  margin-right: 25px;
}

.publisher p + p {
  color: #A8A8A8
}

#news a {
  color: #000;
}

.news h4{
  padding-bottom: 25px;
  word-break: keep-all;
  margin: 0;
}

#news a:hover {
  color: #AED7EB;
}

/* Footer ************************************************************************ */

#foot .container-fluid {
  margin: 2% 10%;
  padding: 50px 0;
  width: 80%;
  border-top: 1px solid #BFBFBF;
}

.footer-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #808080;
  font-size: 15px;
}

.footer-line h6 {
  font-size: 15px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #525252;
  width: 36px;
  height: 36px;
  margin: 0 3%;
}

.wrapper img {
  width: auto;
  height: 13px;
}

.wrapper:hover {
  background-color: #AED7EB;
}

.icon a {
  margin-left: 10px;
}

/* Animation ********************************************************************* */

.fade-in {
  opacity: 0;
  /* filter: blur(5px); */
  transform: translateY(30%);
  transition: all 0.7s ease-in-out;
}

.fade-in.appear {
  opacity: 1;
  /* filter: blur(0); */
  transform: translateY(0);
}

/* Responsible ******************************************************************* */

@media (max-width: 1370px) {
  h1 {
    font-size: 55px;
  }

  #intro p {
    font-size: 25px;
  }

  .main-lec h3 {
    font-size: 35px;
  }
}

@media (max-width: 1159px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 45px;
  }
}

@media (max-width: 1024px) {
  .container-fluid{
    padding: 9% 10%;
  }
  
  .main-lec {
    height: 24.3vw;
  }

  .main-lec h6 {
    margin-bottom: 6px;
  }

  .main-lec h3 {
    margin-bottom: 3px;
  }

  .thumnail {
    height: 20.25vw;
    width: 36vw;
  }
}

@media (max-width: 866px) {
  .main-lec h3 {
    font-size: 30px;
  }

  .icon {
    justify-content: flex-start;
  }
  
  .icon a {
    margin-right: 10px;
    margin-left: 0;
  }
}

@media (min-width: 783px) {
  .phone {
    display: none;
  }
}

@media (max-width: 782px) {
  .no-phone {
    display: none;
  }

  body {
    font-size: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .navbar {
    padding: 70px 5%;
  }

  nav img {
    width: 90vw;
  }

  #title h1 {
    font-size: 38px;
    margin-top: 300px;
  }

  .scroll {
    padding: 0 0 172px;
  }

  .arrow {
    width: 24px;
    height: auto;
  }

  #intro p {
    font-size: 18px;
  }

  #intro .intro-small {
    font-size: 13px;
  }

  .values p {
    width: 20vw;
    height: 20vw;
    margin: 0 3%;
  }

  #messenger p{
    font-size: 18px;
  }

  #messenger img {
    width: 38vw;
    height: 38vw;
    margin-bottom: 4vw;
  }

  .profile {
    padding: 50px 0;
  }

  .register {
    height: 64px;
    width: 100%;
    font-size: 18px;
  }

  .main-lec h3 {
    font-size: 25px;
  }

  .main-lec a {
    font-size: 13px;
  }

  #foot .container-fluid {
    margin: 2% 5%;
    padding: 15px 0 100px;
    width: 90%;
  }
  
  .footer-line {
    font-size: 13px;
  }
  
  .footer-line h6 {
    font-size: 13px;
  }
}

@media (max-width: 650px) {
  .no-tablet {
    display: none;
  }

  .container-fluid {
    padding: 15% 5% 20%;
  }

  #messenger img {
    width: 43vw;
    height: 43vw;
  }

  .main-lec {
    background-size: 250% auto;
    background-position: 36% 47%;
    padding: 45% 20px 0;
    width: 100%;
    height: 75vw;
  }

  .thumnail {
    width: 90vw;
    height: 50.625vw;
  }
}